.centrar {
    display:flex;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}



@mixin ayudasfooter ($bgcolor, $padding, $margin) {
    background-color: $bgcolor;
    padding: $padding;
    margin: $margin;
}

.ayudas{
    @include ayudasfooter(#0D0D0D, 10px, 20px 0);
    flex-direction: column;
    padding: 1%;

    div h3 {
        margin: 15px;
    }
}

.footer {
    @include ayudasfooter(#F2EFEB, 10px, 20px 0px 0px 0px);
    position:bottom;

    div {
        margin: 10px;
    }
}

