*{
    padding: 0;
    margin: 0;
    font-family: 'Average Sans', sans-serif;
}

@import 'header';
@import 'ayudas+footer';
@import 'videoyslogan';
@import 'posicionbody';
@import 'formularios';
@import 'coloresybotones'